.contenedorIzquierda{
    background-color: rgb(20, 178, 246);
    height: 90vh;
    width: 15vw;
}

.contenedorDerecha{
    background-color: #ffffff;
    width: 80vw;
    height: 90vh;

}

.contenedorPrincipal{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;

}

.contenedorArriba{
    width: 100vw;
    height: 10vh;
    background-color: rgb(20, 178, 246);
}

h1{
    display: grid;
    place-items: center;
    font-size: 3.5vw;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

    
}